*{
    margin: 0;
}


.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
.btn {
    padding:12px 16px 12px 16px;
    border: none;
    border-radius: 4px;
    background-color: #469165;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    
}

.btn:hover{
    background-color: #dcc56a;
}
.btnr:hover {
    background-color: #dcc56a;
}

.btne:hover{
    background-color: #dcc56a;
}
.btnt:hover{
    background-color: #dcc56a;
}

.navigetion-ber {
    background-color: #FFFFFF;
    align-items: center;
    


}
.navigetion-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0 120px;
}
.nav-ber ul {
    list-style: none;
    display: flex;
    gap: 32px;

}
.nav-ber ul li a {
    text-decoration: none;
    color: #000000;
}
.hero {
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    
    margin: 0 auto;
    padding: 70px 120px 134px 120px;
   
}
.hero-section {
    text-align: center;
    padding: 51px 295px 76px 295px;
}
.hero-section-2 {
    display: flex;
    
}
h5 {
    background-color: #FFFFFF;
    border: none;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 12px 8px 34px;
    color: #469165;
    text-align: center;
    margin: 0 auto;

}
.hero-text{
    margin: 16px auto ;
    margin-bottom: 0;
}
.hero-text h1 {
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    text-align: center;
    color: #30B868;
   
}
.hero-text .h1{
    color: #FFFFFF;
} 
.hero-text-2{
    margin: 0 auto;
}
.hero-text-2 p {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    text-align: center;
    margin: 6px auto;
}
.btn-grupe {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 16px;
    

}
.btnr{
     padding:12px 16px 12px 16px;
    border: none;
    border-radius: 4px;
    background-color: #469165;
    cursor: pointer;
    display: flex;
    gap: 5px;
    align-items: center;
    color: #FFFFFF;
    
}
.btne {
    padding:12px 16px 12px 16px;
    box-sizing: border-box ;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    gap: 5px;
    align-items: center;
    color: #FFFFFF;
    background: none;
}
.section-container {
    margin: 40px auto;
}
.section-text {
    margin-bottom: 44px;
    margin-top: 10px auto;
    text-align: center;
}
.section-text h2 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;

}
.section-text p {
    font-size: 16px;
    font-weight: normal;
    color: #001931;
    line-height: 26px;
    margin-bottom: 24px;
    
}
.section-card {
    height: 448px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 24px;
    padding: 24px;

}
.card {
    width: 310px;
    height: 300px;
    padding: 24px;
    background-color: #b94141;
    border-radius: 8px;
    border: 1px solid white;
    box-shadow:0px 0px 8px 0px rgba(12, 12, 12, 0.5);
    background: rgba(255, 255, 255, 1);
}
.card h4 {
    font-size: 20px;
    font-weight: 600;
    color: #001931;
    margin-bottom:16px ;
}
.card p{
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    color: #627382;
}
.section-card .card img {
    background-color: #F95555;
    
}
.img-shape {
    background-color: #F95555;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 69px 131px 16px 131px;
    
}
.knoweg-section {
    padding: 120px;
    margin: 0 auto;
    max-width: 1600px;
}
.section-knoweg{
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
}
.section-list{
    text-align: left;
    margin-right: 10px;
}
.section-list h4{
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 16px;

}
.section-list h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    text-align: left;

}
.section-list p {
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    color: #627382;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 40px;

}
.list ul {
    list-style: none;
    text-align: left;
}
.list ul li{
    
    padding-left:20px;
    position: relative;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #001931;
    
}
.list ul li::before {
    content: url("../assets/CheckCircle.png");
    color: green;
    position: absolute;
    left: 0;
}

.challange-section {
    height: 506px;
    max-width: 1600px;
    padding: 2px 120px 120px 120px ; 
    margin: 0 auto;
}
.section-challange{
    height: 380px;
    max-width: 1360px;
    margin: 0 auto;
    background-color: #F7F6F2;
    padding: 100px 60px;
    border-radius: 12px;
    text-align: center;   
}
.challange-text{
    margin: 80px 50px 24px 50px;
}
.challange-text h2 {
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;

}
.challange-text p {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
} 
.section-challange .btn-container .btnt{
    align-items: center;
    margin-bottom:16px ;
}
 
 .btnt{
    background-color: #469165;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    display:inline-flex;
    gap: 3px;
    
 }
 .btn-container p {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    color: #627382;
 }
 .footer{
    height: 348px;
    max-width: 1600px;
    margin: 0 auto;
    background-color: #001931;

 }
 .footer-container{
    display: flex;
    justify-content: space-between;
    padding: 120px 120px 80px 120px;
 }
 .socil-container h6{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 16px;

 }
 .hr {
    margin: 0 120px 25px 120px;
 }
 
 .copyright-text{
    font-size: 18px;
    font-weight: normal;
    line-height: 26px;
    color: #FAFAFA;
    text-align: center;
 }
